extends layout

block content
  header.inner
    .container
      a.logo(href="/")
        img(src="/logo.png" alt="logo")
        span v
        | ersus

      nav
        a(href="//github.com/dcversus") github
        a(href="//github.com/dcversus/CV") CV

  .container
    if tags.length
      .tags
        each tag in tags
          span.tag [#{tag}]

    h1 #{title}

    | !{content}

    if images.length
      h2 Изображения
      .image-gallery
        each image in images
          a(href= image)
            img(alt= image.split('/').reverse()[0] src= image)

    if files.length
      h2 Материалы
      ul
        each file in files
          li
            a(href= file) #{file.split('/').reverse()[0]}

    if links.length
      h2 Ссылки
      ul
        each link in links
          li
            a(href= link) #{link.split('/')[2]}