<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="cYZLAOAZ9AmdvhZGtg9kTe-FMEZKBMd8bHfskTH5uRs" />
    <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26024487 = new Ya.Metrika({ id:26024487, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/26024487" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

    <title>Василиса Версус — dcversus</title>
  </head>

  <body>
    <div id="root" class="wrapper">
      <a href="#" class="social" >Choose your destiny!</a>

      <section class="content">
        <a href="/" class="logo">
          <%= require('./assets/Versus.svg') %>
        </a>

        <h1>Василиса Версус</h1>
        <h2>ТЕХНОЛОГИИ И ДИЗАЙН</h2>
        <p>Я занимаюсь проектированием, графическим оформлением, версткой и программированием веб-интерфейсов.<br>Мои <a target="_blank" href="//github.com/dcversus">github</a> и <a target="_blank" href="//github.com/dcversus/CV">CV</a>.</p>
        <p>Работать с интересными людьми, делать интерактивные анимированные штуки - мои приоритеты и цели. Я обожаю web разработку, а еще интересуюсь gamedev, мое хобби это webgamedev. Давайте сделаем этот мир радостнее и разнообразнее =). Любые предложения и идеи, вы можете присылать на мой <a href="mailto:dcversus@gmail.com">email</a>.</p>
      </section>

      <section class="projects">
        <a target="_blank" href="//uz0.ru" class="uz0">
          <%= require('./assets/Uz0.svg') %>
        </a>
        <a target="_blank" href="//theedgestory.ru" class="tes">
          <%= require('./assets/theedgestory.svg') %>
        </a>
      </section>

      <footer class="footer">
        © 2018. Василиса Версус. Все права защищены. =)
      </footer>

      <div class="decoration-line type1">
        <%= require('./assets/sfema-1.svg') %>
      </div>

      <div class="decoration-line type2">
        <%= require('./assets/sfema-2.svg') %>
      </div>

      <div class="decoration-line type3">
        <%= require('./assets/sfema-3.svg') %>
      </div>

      <div class="decoration-line type4">
        <%= require('./assets/sfema-4.svg') %>
      </div>

      <%= require('./assets/glow-filter.svg') %>
    </div>
  </body>
</html>

